/* redact names */
body.anon-enabled .fullname,
body.anon-enabled .QuoteTweet-fullname,
body.anon-enabled .ProfileTweet-actionCount,
body.anon-enabled .tweet-context.with-icn {
  /*filter: brightness(0) !important;*/
  /*background: #000 !important;*/
  visibility: hidden;
}

/* do not render the full name and username block at the top of the tweet
   in order to keep the timestamp left aligned
 */
body.anon-enabled .FullNameGroup, body.anon-enabled .username.u-dir.u-textTruncate  {
  display: none !important;
}

/* hide name links in retweets */
body.anon-enabled .ProfileTweet-actionCountForPresentation,
body.anon-enabled .pretty-link.js-user-profile-link {
  display: none !important;
}

/* hide blue checks */
body.anon-enabled .Icon--verified:after {
  content: none !important;
}
/* hide blue check artifact that shows up in night mode */
body.anon-enabled .Icon--verified:before {
  content: none !important;
}

/* hide profile pics */
body.anon-enabled .avatar--circular,
body.anon-enabled .avatar {
  filter: brightness(0) !important;
}

/* spacer between username and date */
body.anon-enabled .tweet .time:before {
  content: "" !important;
}

/* hide other useless page elements */
.wtf-module, .dashboard-right, .trends, .moments {
  display: none !important;
}

